@-ms-viewport {
  width: device-width;
}

body {
  margin: 0px;
  background-color: #FAFAFA;
}

.stats {
  display: inline;
}

.statsContainer {
  margin: 15px;
}

#numMove {
  margin-left: 20px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  z-index: 2;
  padding-bottom: 20px;
}

.buttons {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  background-color: gray;
  border-style: solid;
  border-color: gray;
  border-radius: 3px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.buttons:hover {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-radius: 3px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  transition: all 300ms;
}

@media only screen {

  /*css styles*/
  #button36 {
    display: inline-flex;
  }

  .matchingBox12 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 25%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox24 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 12%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  /* .matchingBox36 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 8%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  } */
}

@media only screen and (max-width: 600px) {

  /*css styles*/
  #button36 {
    display: none;
  }

  .matchingBox12 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    margin: 20px;
    height: 75px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox24 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 14%;
    margin: 20px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 600px) {

  /*css styles*/
  #button36 {
    display: none;
  }

  .matchingBox12 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 25%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox24 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10.5%;
    margin: 20px;
    height: 75px;
    background-color: black;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 756px) {

  /*css styles*/
  #button36 {
    display: inline-flex;
  }

  .matchingBox12 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 25%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox24 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 11%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox36 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5.5%;
    margin: 20px;
    height: 75px;
    background-color: black;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 964px) {

  /*css styles*/
  #button36 {
    display: inline-flex;
  }

  .matchingBox12 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 25%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox24 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 12%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }

  .matchingBox36 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 20px;
    width: 7.5%;
    height: 100px;
    background-color: black;
    border-radius: 5px;
  }
}
